.badge {
  width: fit-content;
  height: 1.5625rem;
  padding: 6px 20px;
  background-color: var(--white);
  border-radius: 12.5px;
  color: var(--green-500);

  display: flex;
  align-items: center;
  font-weight: 500;
}